/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.lein-env
test/data/*.bai
test/data/*.dict
test/data/*.idx
test/data/wgsexome-compare.csv
test/data/wgsexome-compare-multi.csv
test/data/wgsexome-compare.png
test/data/genenames-exons.bed
test/data/mousegenes.txt